:root {
--White: hsl(0, 0%, 100%);
--Light-gray: hsl(212, 45%, 89%);
--Grayish-blue: hsl(220, 15%, 55%);
--Dark-blue: hsl(218, 44%, 22%);
}

body {
    font-family: 'Outfit', sans-serif;
    margin: unset;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    background-color: var(--Light-gray);
    font-size: 15px;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 0.75rem;
}

.maincontains {
    background-color: var(--White);
    max-width: 320px;
    padding: 1.075rem;
    border-radius: 1.35rem;
    box-shadow: 0 1.6rem 1.6rem hsl(0, 0%, 0%, 0.05);
    text-align: center;
    margin: 17px ;
}

h1 {
    font-size: 1.75rem;
    line-height: 1.5;
    margin-top: 10px;
    color: var(--Dark-blue);
}

p {
    line-height: 1.5;
    color: var(--Grayish-blue);
    margin: 10px;
}

footer { 
    font-size: 11px; 
    text-align: center; 
}
    
footer a { 
    color: hsl(228, 45%, 44%);
 }
